<a href="https://colab.research.google.com/github/hcantekin/hcantekin.github.io/blob/main/USDemsregion2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import json

In [ ]:
df= pd.read_csv('USDemsregion.csv')
df

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (104,105,106,107) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ID,delivery_by_region,1,2,3,4,5,6,7,8,...,97,98,99,100,101,102,103,Unnamed: 105,Unnamed: 106,Unnamed: 107
0,1,"{""region"":""Alabama""",percentage:0.010345},"{""region"":""Virginia""",percentage:0.025517},"{""region"":""North Carolina""",percentage:0.037931},"{""region"":""Ohio""",percentage:0.033103},"{""region"":""Oklahoma""",...,percentage:0.011034},"{""region"":""Vermont""",percentage:0.002069},NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,"{""region"":""Arkansas""",percentage:0.009368},"{""region"":""Kansas""",percentage:0.009368},"{""region"":""Oregon""",percentage:0.007026},"{""region"":""Virginia""",percentage:0.014052},"{""region"":""Alabama""",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,"{""region"":""Alaska""",percentage:0.004218},"{""region"":""Missouri""",percentage:0.02404},"{""region"":""Hawaii""",percentage:0.002109},"{""region"":""Indiana""",percentage:0.02151},"{""region"":""Iowa""",...,"{""region"":""Texas""",percentage:0.065795},"{""region"":""Vermont""",percentage:0.004639},"{""region"":""Wisconsin""",percentage:0.026149},NaN,NaN,NaN,NaN
3,4,"{""region"":""Wyoming""",percentage:0.002101},"{""region"":""New Hampshire""",percentage:0.002101},"{""region"":""Iowa""",percentage:0.033613},"{""region"":""Kansas""",percentage:0.010504},"{""region"":""Kentucky""",...,percentage:0.002101},NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88830,88831,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88831,88832,"{""region"":""Indiana""",percentage:0.033058},"{""region"":""Rhode Island""",percentage:0.008264},"{""region"":""Idaho""",percentage:0.008264},"{""region"":""Kansas""",percentage:0.033058},"{""region"":""Louisiana""",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88832,88833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88833,88834,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88834,88835,"{""region"":""Alabama""",percentage:0.014096},"{""region"":""South Dakota""",percentage:0.00691},"{""region"":""New Jersey""",percentage:0.012714},"{""region"":""New Mexico""",percentage:0.006357},"{""region"":""New York""",...,"{""region"":""Minnesota""",percentage:0.035102},"{""region"":""Missouri""",percentage:0.032062},"{""region"":""Rhode Island""",percentage:0.00304},NaN,NaN,NaN,NaN

In [ ]:
del df['Unnamed: 105']
del df['Unnamed: 106']
del df['Unnamed: 107']
del df['ID']
df

,delivery_by_region,1,2,3,4,5,6,7,8,9,...,94,95,96,97,98,99,100,101,102,103
0,"{""region"":""Alabama""",percentage:0.010345},"{""region"":""Virginia""",percentage:0.025517},"{""region"":""North Carolina""",percentage:0.037931},"{""region"":""Ohio""",percentage:0.033103},"{""region"":""Oklahoma""",percentage:0.011724},...,"{""region"":""Montana""",percentage:0.004138},"{""region"":""Nebraska""",percentage:0.011034},"{""region"":""Vermont""",percentage:0.002069},NaN,NaN,NaN,NaN
1,"{""region"":""Arkansas""",percentage:0.009368},"{""region"":""Kansas""",percentage:0.009368},"{""region"":""Oregon""",percentage:0.007026},"{""region"":""Virginia""",percentage:0.014052},"{""region"":""Alabama""",percentage:0.023419},...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"{""region"":""Alaska""",percentage:0.004218},"{""region"":""Missouri""",percentage:0.02404},"{""region"":""Hawaii""",percentage:0.002109},"{""region"":""Indiana""",percentage:0.02151},"{""region"":""Iowa""",percentage:0.023197},...,percentage:0.035428},"{""region"":""Tennessee""",percentage:0.016449},"{""region"":""Texas""",percentage:0.065795},"{""region"":""Vermont""",percentage:0.004639},"{""region"":""Wisconsin""",percentage:0.026149},NaN
3,"{""region"":""Wyoming""",percentage:0.002101},"{""region"":""New Hampshire""",percentage:0.002101},"{""region"":""Iowa""",percentage:0.033613},"{""region"":""Kansas""",percentage:0.010504},"{""region"":""Kentucky""",percentage:0.031513},...,"{""region"":""Alaska""",percentage:0.004202},"{""region"":""Vermont""",percentage:0.002101},NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88831,"{""region"":""Indiana""",percentage:0.033058},"{""region"":""Rhode Island""",percentage:0.008264},"{""region"":""Idaho""",percentage:0.008264},"{""region"":""Kansas""",percentage:0.033058},"{""region"":""Louisiana""",percentage:0.008264},...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88832,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88834,"{""region"":""Alabama""",percentage:0.014096},"{""region"":""South Dakota""",percentage:0.00691},"{""region"":""New Jersey""",percentage:0.012714},"{""region"":""New Mexico""",percentage:0.006357},"{""region"":""New York""",percentage:0.052239},...,percentage:0.016584},"{""region"":""Michigan""",percentage:0.048093},"{""region"":""Minnesota""",percentage:0.035102},"{""region"":""Missouri""",percentage:0.032062},"{""region"":""Rhode Island""",percentage:0.00304},NaN

Unstacking so all columns merged into one column 'region'.

In [ ]:

df = df.unstack().to_frame('Region').reset_index(drop=True) 
df

                       Region
0         {"region":"Alabama"
1        {"region":"Arkansas"
2          {"region":"Alaska"
3         {"region":"Wyoming"
4                         NaN
...                       ...
9238835                   NaN
9238836                   NaN
9238837                   NaN
9238838                   NaN
9238839                   NaN

[9238840 rows x 1 columns]

In [ ]:
df2= df.dropna()
df2

                           Region
0             {"region":"Alabama"
1            {"region":"Arkansas"
2              {"region":"Alaska"
3             {"region":"Wyoming"
5         {"region":"Connecticut"
...                           ...
9233567  {"region":"North Dakota"
9233680       {"region":"Wyoming"
9233985       {"region":"Unknown"
9236341       {"region":"Wyoming"
9238815       {"region":"Wyoming"

[2934343 rows x 1 columns]

Removing all rows which contain information on the percentage/distribution, left with only the names of regions.

In [ ]:
df3 = df2[df2['Region'].str.contains('percentage')== False]
df3

                           Region
0             {"region":"Alabama"
1            {"region":"Arkansas"
2              {"region":"Alaska"
3             {"region":"Wyoming"
5         {"region":"Connecticut"
...                           ...
9233567  {"region":"North Dakota"
9233680       {"region":"Wyoming"
9233985       {"region":"Unknown"
9236341       {"region":"Wyoming"
9238815       {"region":"Wyoming"

[1479611 rows x 1 columns]

Splitting the string and using replace to remove surplus symbols/punctuation etc. Produces the name of the State.

In [ ]:
df3['Region'] = df3['Region'].str.split(':').str[1].str.replace('{"region"','').str.replace('"','')
df3

<ipython-input-9-af787f48e9d5>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df3['Region'] = df3['Region'].str.split(':').str[1].str.replace('{"region"','').str.replace('"','')
<ipython-input-9-af787f48e9d5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Region'] = df3['Region'].str.split(':').str[1].str.replace('{"region"','').str.replace('"','')

               Region
0             Alabama
1            Arkansas
2              Alaska
3             Wyoming
5         Connecticut
...               ...
9233567  North Dakota
9233680       Wyoming
9233985       Unknown
9236341       Wyoming
9238815       Wyoming

[1479611 rows x 1 columns]

Doing a value count to produce a value which represents the number of ads which have been posted in each State, then converting this list back into a dataframe and renaming columns.

In [ ]:
df4 = df3['Region'].value_counts()
df5 = pd.DataFrame(df4)
df6= df5.reset_index()
df7= df6.rename(columns={'index': 'State', 'Region': 'Number of Ads'})
df7

                    State  Number of Ads
0              Washington          55820
1            Pennsylvania          33970
2                 Florida          33846
3                Michigan          33546
4          North Carolina          33198
..                    ...            ...
531      Central Province              1
532    Lubusz Voivodeship              1
533           Karan State              1
534             Par\u00e1              1
535  Constantine Province              1

[536 rows x 2 columns]

Cleaning data by filtering out the Regions with less than 800 ads to remove anomalies and unknowns.

In [ ]:
df8 = df7[df7['Number of Ads']>800]
df8

             State  Number of Ads
0       Washington          55820
1     Pennsylvania          33970
2          Florida          33846
3         Michigan          33546
4   North Carolina          33198
5          Arizona          33043
6        Wisconsin          32979
7          Georgia          32455
8         Virginia          32333
9         New York          32331
10           Texas          32234
11      California          32186
12        Illinois          32022
13            Ohio          31855
14      New Jersey          31808
15       Minnesota          31781
16   Massachusetts          31594
17        Maryland          31587
18        Missouri          30968
19         Indiana          30915
20       Tennessee          30843
21        Colorado          30640
22          Oregon          30374
23  South Carolina          29927
24     Connecticut          29907
25        Kentucky          29738
26            Iowa          29515
27         Alabama          29160
28          Nevada          28921
29        Oklahoma          28694
30      New Mexico          28614
31          Kansas          28323
32       Louisiana          28199
33        Arkansas          27597
34            Utah          26221
35        Nebraska          25819
36           Maine          25745
37     Mississippi          25512
38   West Virginia          25456
39   New Hampshire          24855
40          Hawaii          24354
41        Delaware          24086
42           Idaho          23926
43    Rhode Island          23764
44         Montana          23219
45         Vermont          22127
46          Alaska          21745
47    South Dakota          20725
48    North Dakota          18364
49         Wyoming          16736

Writing to json.

In [ ]:
USDemsReg = list(df8.T.to_dict().values())
open('USDemsReg.json', 'w').write(json.dumps(USDemsReg))

2372

In [ ]:
df8.to_csv('USDemsReg.csv')

In [ ]:
# State = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming']